<!DOCTYPE html>
<html>
<head>
    <title>Gestion des produits de camping</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <div *ngIf="showMessage" class="alert alert-success">
    {{ message }}
  </div>

    <div class="container">
        <h1>Gestion des produits de camping</h1>

        <form  #f="ngForm">
            <div class="form-group">
                <label for="nomProduit">Nom du produit</label>
                <input type="text" class="form-control" name="libelle" id="libelle" [(ngModel)]="produit.libelle" placeholder="Entrez le libelle du produit" >
            </div>
            <div class="form-group">
                <label for="description">Code</label>
                <input class="form-control" name="code" id="code" [(ngModel)]="produit.code" rows="3" placeholder="Entrez le code du produit" ngModel>
            </div>
            <div class="form-group">
                <label for="prix">Prix</label>
                <input type="number" class="form-control" name="prix" id="prix" [(ngModel)]="produit.prix" placeholder="Entrez le prix du produit" ngModel>
            </div>
            <div class="form-group">
            <label for="IMAGE">Image</label><br>
            <input type="file" multiple >
          </div>

            <button type="submit" class="btn btn-success" (click)="addProduit()">Ajouter</button>
        </form>

     <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Description</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Quantité en stock</th>
                </tr>
            </thead>
            <tbody>
               Remplacez les lignes ci-dessous par les données dynamiques de vos produits
                <tr>
                    <td>Nom du produit</td>
                    <td>Description du produit</td>
                    <td>99.99</td>
                    <td>10</td>
                </tr>
            </tbody>
          </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
